* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.411)), to(rgba(0, 0, 0, 0.404))), url("img/2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.411), rgba(0, 0, 0, 0.404)), url("img/2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.logo h1 {
  margin-left: 1rem;
  font-size: 3rem;
  color: white;
}

.logo a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #46a5e5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 50%;
  opacity: 0.9;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.info {
  width: 700px;
  background-color: whitesmoke;
  border-radius: 5%;
  margin-top: 5%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container h2 {
  color: #46a5e5;
  font-size: 350%;
  margin-top: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.container h3 {
  font-weight: normal;
  font-size: 3.5rem;
  margin-top: 3%;
  margin-bottom: 5%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.steps h4 {
  font-size: 5rem;
  font-weight: normal;
}

.steps h5 {
  font-size: 2rem;
  font-weight: normal;
}

.steps i {
  margin-left: 20%;
}

.icon-big {
  font-size: 500%;
}

.container-logo {
  width: 100%;
  margin: 8% 5% 5% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-logo h1 {
  color: #46a5e5;
  font-weight: normal;
  font-size: 400%;
}

.container-logo img {
  height: 10%;
  width: 10%;
}

.login {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #46a5e5;
  width: 500px;
  margin-top: 5%;
  border-radius: 5%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.login h2 {
  font-size: 400%;
  text-transform: uppercase;
  margin: 10% auto 5% auto;
}

.login form {
  margin-left: 10%;
  font-size: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

.login form a {
  color: white;
  width: 100%;
  font-size: 3rem;
  border-radius: 1rem;
  text-decoration: none;
}

.login form input[type="email"],
.login form input[type="password"] {
  line-height: 3rem;
}

.login form input[type="submit"] {
  background-color: #11639a;
  color: white;
  margin: 10% 0% 0% 0%;
  padding: 3%;
  border: 1px solid #11639a;
  font-size: 3rem;
  border-radius: 1rem;
}

.login form input[type="submit"]:hover {
  background-color: #46a5e5;
}

.login form button {
  background-color: #11639a;
  color: white;
  margin: 10% 0% 5% 0%;
  padding: 3%;
  border: 1px solid #11639a;
  font-size: 3rem;
  border-radius: 1rem;
}

.login form button:hover {
  background-color: #46a5e5;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=stlye.css.map */