main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50%;
    margin: 1%;
    opacity: 0.9;
    justify-content: space-evenly;
    
  }
.info {
    width: 700px;
    background-color: whitesmoke;
    border-radius: 5%;
   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    h2{
        color:$primary-color;
        font-size: 3rem;
        margin-top: 5%;
       
    }
    h3 {
        font-weight: normal;
        font-size: 2.5rem;
        margin-top: 3%;
         
      }
}

.icons {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-right: 5%;
    flex-wrap: wrap;
  }
  
.steps {
    display: flex;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
   
    h4 {
        font-size: 5rem;
        font-weight: normal;
        
     }
     h5 {
        font-size: 2rem;
        font-weight: normal;
        
      }

  }

.icon-big {
    font-size: 500%;
  }
  
  .container-logo {
    width: 100%;
    margin: 5%;
    display: flex;
    justify-content: center;
     
    h1 {
        color:$primary-color;
        font-weight: normal;
        font-size: 7rem;
      }
  }

.login {
    color: white;
    display: flex;
   flex-direction: column;
    background:$primary-color;
    width: 500px;
    
    border-radius: 5%;
    align-items: flex-start;
     
    h2 {
        font-size: 5rem;
        text-transform: uppercase;
        margin: 10% auto 5% auto;
         
    }
    form {
    margin-left: 10%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
     
    a {
        color: white;
        width: 100%;
        font-size: 3rem;
        border-radius: 1rem;
        text-decoration: none;
         
      }
    }
  } 
  .flex-row{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
  }